AddDefaultCharset UTF-8
RewriteEngine on
<IfModule mod_rewrite.c>
#RewriteRule ^$ /kiev [R]
RewriteRule ^(kiev|ifrankovsk|ternopol|bc|qtnet|kamenec|sdonetsk)_(tech|experts|test|proposals)$ index.php?city=$1&queue=$2 [L]
RewriteRule ^(kiev|ifrankovsk|ternopol|bc|proposals|qtnet|kamenec|sdonetsk)$ index.php?city=$1 [L]
RewriteRule ^(logout)$ index.php?signout=1 [L]
RewriteRule ^(table)$ view.php [L]
RewriteRule ^(summary)/(.+)/*$ includes/makeReport.php?queue=$2 [L]
RewriteRule ^(cdr)/*$ includes/queueCDR.php [L]
RewriteRule ^agent([0-9]+)/*$ index.php?detail=$1 [L]
</IfModule>
