#agentsHistory {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: left;
	padding: 0px;
	margin: 0px auto;
	width: 95%;
	margin-top: 15px;
}

#agentsHistory span {
	display: block;
	width: 100%;
}

#agentsHistory li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#agentsHistory ul{
	margin-left: 0px;
	padding: 0px;
}

#agentOrder1 {
	background: #F0F0F0;
	margin: 0px;
	padding: 5px;
}

#agentOrder0 {
	background: #E8E8E8; 
	margin: 0px;
	padding: 5px;
}

#monthSelect {
	font-size: 17px;
	font-weight: bold;
	background: #66CCCC;
	color: white;
	border-bottom: 1px solid white;
}

#monthSelect:hover {
	background: #76DCDC;
}

#workDay:hover {
	background: #66CCCC;
	color: white;
}

#workDay {
	background: white;
	color: black;
	font-weight: normal;
	border: none;
	font-size: 14px;
}

#agentOrder1:hover {
	background: grey;
	color: white;
	cursor: pointer;
}

#agentOrder0:hover {
	background: grey;
	color: white;
	cursor: pointer;
}

#historyTable tr {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#sumLate {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}

#daySelect {
	height: 30px;
    	width: 245px;
	padding: 10px;
	background: #EFEFEF;
	margin: 0px;
	margin-left: 30px;
}

#daySelect input[type=text]{
	margin: 0px;
	margin-right: 5px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 80px;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	float: left;
}

#daySelect input[type=submit]{
	padding: 0px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 9px;
	width: 40px;
	height: 30px;
	line-height: 30px;
	border: none;
	background: #333;
	color: white;
	margin: 0px;
	margin-left: 5px;
	text-transform: uppercase;
}

#daySelect input[type=submit]:hover {
	cursor: pointer;
}

#popupWindow {
    margin: 0px;
    border: 2px solid grey;
    background: white;
    position: absolute;
}

#popupWindow a{
    display: block;
    width: 125px;
    height: 25px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 12px;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    color: grey;
	border: none;
	background: white;
}

#popupWindow a:hover {
    color: white;
    background: grey;
	cursor: pointer;
}

.myWindow {
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid #CCC;
	box-shadow: 3px 3px 0px grey;
	-moz-box-shadow: 3px 3px 0px grey;
	-webkit-box-shadow: 3px 3px 0px grey;
}

.myWindow .titleWindow {
	margin: 0px;
	width: 100%;
	background: #EEE;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 10px;
	height: 18px;
	padding-left: 10px;
	color: #666;
	border-bottom: 1px solid #E9E9E9;
}

.myWindow .closeButt a {
	display: block;
	background: grey;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#recordsList {
	width: 250px;
	margin: 0px auto;
}

#recordsList td{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
}

#recordsList #play a{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	background: #DDD;
	padding: 2px;
	text-align: center;
	color: black;
	font-size: 12px;
	font-weight: bold;
}

#recordsList #end{
	font-size: 11px;
}

#recordsList #order{
	font-size: 12px;
}

#recordsList #play a:hover{
	background: grey;
	color: white;
}

#tableRec audio{
	width: 390px;
	margin: 0px auto;
}

#tableOffence {
	margin: 5px auto;
}

#tableOffence thead td{
	font-size: 10px;
	text-align: center;
	color: #555;
}

#tableOffence td{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 13px;
	vertical-align: bottom;
}
