body {
	background: white;
}

hr {
	border: none;
	border-top: 1px solid grey;
	width: 80%;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#distTitle {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 0px;
	font-size: 15px;
	text-transform: uppercase;
}

#agentsHistory {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: left;
	padding: 0px;
	margin: 0px auto;
	width: 95%;
}

#agentsHistory .agentName {
	display: block;
	width: 100%;
}

#agentsHistory .ext{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#agentsHistory li {
	padding-left: 10px;
	list-style-position: inside;
	list-style: none;
}

#agentsHistory li table{
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

#agentsHistory li table td{
	margin: 0px;
	padding: 0px;
}

#agentsHistory li .grid0{
	background: #FAFAFA;
}

#agentsHistory li .grid1{
	background: #FFFFFF;
}

#agentsHistory li .date{
	font-weight: bold;
}

#agentsHistory li .datetime{
	width: 600px;
}

#agentsHistory li .type{
	width: 60px;
	font-size: 10px;
	color: #696969;
}

#agentsHistory li p{
	padding: 0px;
	padding-left: 10px;
	margin: 5px;
}

#agentsHistory ul{
	margin-left: 0px;
	padding: 0px;
}

#agentOrder1 {
	background: #F0F0F0;
	margin: 0px;
	padding: 5px;
}

#agentOrder0 {
	background: #E8E8E8; 
	margin: 0px;
	padding: 5px;
}

#totalLate {
	background: white;
	color: black;
	font-size: 14px;
	border: 1px solid;
}

#agentOrder1:hover {
	background: grey;
	color: white;
	cursor: pointer;
}

#agentOrder0:hover {
	background: grey;
	color: white;
	cursor: pointer;
}

#historyTable tr {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#sumLate {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}

#daySelect {
    position: fixed;
    top: 0px;
    left: 400px;
    height: 30px;
    width: 220px;
    padding: 10px;
	background: #76A9A9;
}

#daySelect form input[type=text]{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 80px;
	font-size: 12px;
}

#daySelect form input[type=submit]{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 12px;
	width: 40px;
}
