#daySelect {
	height: 30px;
    	width: 245px;
	padding: 10px;
	background: #EFEFEF;
	margin: 0px;
	margin-left: 30px;
}

#daySelect #pick_calendar {
	display: block;
	float: left;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: 10px;
}

#daySelect input[type=text]{
	margin: 0px;
	margin-right: 5px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 80px;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	float: left;
}

#daySelect input[type=submit]{
	padding: 0px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 9px;
	width: 40px;
	height: 30px;
	line-height: 30px;
	border: none;
	background: #333;
	color: white;
	margin: 0px;
	margin-left: 5px;
	text-transform: uppercase;
}

#daySelect input[type=submit]:hover {
	cursor: pointer;
}

#cdr_stat {
	height: 190px;
	width: 95%;
	margin: 0px auto;
	margin-top: 10px;
}

#cdr_stat #main_stats {
	margin-top: 10px;
	border: 1px solid #EFEFEF;
	border-left: none;
	border-right: none;
	padding-bottom: 10px;
	width: 300px;
	float: left;
	background: #EFEFEF;
}

#cdr_stat #main_stats td {
	height: 30px;
	font-size: 14px;
	background: white;
	text-align: center;
}

#cdr_stat #main_stats td a {
	color: #444;
}

#cdr_stat #cdr_window {
	display: block;
	width: 290px;
	margin: 0px auto;
	min-height: 20px;
	max-height: 200px;
	overflow: auto;
	overflow-x: hidden;
	text-align: center;
}

#cdr_stat #cdr_window table {
	margin: 0px auto;
	width: 280px;
	border-collapse: collapse;
}

#cdr_stat #cdr_window table thead td{
	background: #555;
	color: white;
}

#cdr_stat #cdr_window table td {
	font-size: 12px;
	text-align: center;
}

#cdr_stat #cdr_window table td a {
	color: #444;
}

#chart_div {
	float: left;
	width: 400px;
	height: 160px;
	margin: 0px;
	margin-left: 20px;
	margin-top: 10px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 12px solid #EFEFEF;
}

#chart_div_chans {
	float: left;
	width: 95%;
	height: 260px;
	margin: 0px;
	margin-left: 20px;
	margin-top: 10px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 12px solid #EFEFEF;
}

#pre_cdr {
	margin: 0px auto;
	width: 95%;
	height: 25px;
	text-align: right;
}

#pre_cdr #refresh_filters {
	margin: 0px;
	text-transform: uppercase;
	font-size: 10px;
	background: white;
	width: 160px;
	height: 20px;
	color: #333;
	font-weight: bold;
}

#cdr_navigation {
	z-index: 10;
	height: 94px;
	min-width: 1100px;
	width: 100%;
	background: rgba(205,178,151,0.8);
	background: #FEE0C6;
	background: #EFEFEF;
}

#cdr_header td {
	padding: 5px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 10px;
	text-align: center;
	height: 40px;
	vertical-align: center;
	background: #555;
	padding: 0px;
}

#cdr_header td a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
}

#cdr_header td span {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
}

#cdr_header td input {
	width: 90%;
	margin: 0px;
	height: 25px;
	font-size: 14px;
	padding: 2px;
	border: none;
}

#cdr_header td select {
	border: none;
	padding: 2px;
	width: 90%;
	margin: 0px;
	height: 25px;
	font-size: 14px;
}

#cdr {
	margin: 0px auto;
	margin-bottom: 50px;
	min-width: 1000px;
	width: 95%;
	border: 1px solid #EFEFEF;
}

#cdr td {
	height: 35px;
}

#cdr .row0 {
	background: white;
}

#cdr .row1 {
	background: #F3F3F3;
}

#gsm_channels {
	height: 100px;
	margin: 10px;
	margin-left: 60px;
}

#gsm_channels .free {
	background: #C1FFC1;
	height: 60px;
	width: 60px;
	color: black;
	text-align: center;
	float: left;
	margin-right: 10px;
}

#gsm_channels .busy {
	background: #FFAEB9;
	height: 60px;
	width: 60px;
	color: black;
	text-align: center;
	float: left;
	margin-right: 10px;
}

#gsm_channels .problem {
	background: #B5B5B5;
	height: 60px;
	width: 60px;
	color: black;
	text-align: center;
	float: left;
	margin-right: 10px;
}

#gsm_channels span{
	line-height: 60px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
