#historyDesc {
	position: fixed;
	top: 50px;
	left: 30%;
	border: 1px solid #CCC;
	width: 450px;
	height: 420px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background: #F5F5F5;
	box-shadow: 1px 1px 5px #CCC;
	-moz-box-shadow: 1px 1px 5px #CCC;
	-webkit-box-shadow: 1px 1px 5px #CCC;
}

#historyDesc #infoTable {
	background: white;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 80%;
	margin: 0px auto;
	margin-top: 20px;
	color: #333;
	padding-left: 15px;
}

#historyDesc #infoTable td input{
	width: 100%;
}

#titleWindow {
	margin: 0px;
	width: 100%;
	background: #EEE;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 10px;
	height: 18px;
	padding-left: 10px;
	color: #666;
	border-bottom: 1px solid #E9E9E9;
}

#nameTitle {
	background: grey;
	color: white;
	text-align: center;
}

#adminLine {
	text-align: center;
}

#adminLine a {
	text-decoration: none;
	display: inline;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	color: white;
	width: 100px;
	background: #BBB;
	padding: 10px;
}

#adminLine a:hover {
	background: #CCC;	
}

#closeButt {
	margin: 10px auto;
	text-align: center;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
	background: #76A9A9;
	color: white;
	display: block;
	width: 80px;
	padding: 7px;
}

#closeButt:hover {
    cursor: pointer;
	background: #568989;
}
