#accountBlock {
	margin-top: 20px;
	margin-left: 80px;
}

#makeReport {
    border-collapse: collapse;
    margin: 0px auto;
    margin-top: 15px;
    width: 95%;
}

#mainLogo {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: none;
}

#makeReport td{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    padding: 5px;
    text-align: center;
}

#makeReport td input[type=submit]{
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    color: white;
    border: none;
    background: #555;
    width: 100%;
    text-align: center;
}

#makeReport td input[type=submit]:hover {
    background: #555;
	cursor: pointer;
}

#makeReport td span{
    font-size: 10px;
    color: grey;
    display: block;
}

#makeReport #reportHead td{
	padding: 0px;
	background: #555;
	color: white;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #555;
}

#rowGrid1 {
	background: #E0E0E0;
	background: white;
}

#rowGrid0 {
	background: #F0F0F0;
	background: #F3F3F3;
}

#daySelect {
	height: 30px;
    	width: 245px;
	padding: 10px;
	background: #EFEFEF;
	margin: 0px;
	margin-left: 30px;
}

#daySelect input[type=text]{
	margin: 0px;
	margin-right: 5px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 80px;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	float: left;
}

#daySelect input[type=submit]{
	padding: 0px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 9px;
	width: 40px;
	height: 30px;
	line-height: 30px;
	border: none;
	background: #333;
	color: white;
	margin: 0px;
	margin-left: 5px;
	text-transform: uppercase;
}

#daySelect input[type=submit]:hover {
	cursor: pointer;
}


